# PlatformIO
.pio/
.pio

# VS Code
.vscode/
.vscode
*.code-workspace

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated CSS
/data/css/tailwind.css

# System Files
.DS_Store
.env.local
.env.*.local

# Temporary files
*.tmp
*~

# Partitions
partitions.bin
partitions.csv.md5
*.bin
*.md5

# For restore to working firmware v0.1
!firmware_v0.1.bin
!littlefs_webUI_v0.1.bin

# temp paste file
temp-paste-file

# Rust / Cargo build output (workspace-level target dir)
/target/
